@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  box-sizing: border-box !important;
  scrollbar-width: thin !important;
  scrollbar-color: #555 transparent !important;
  font-family: 'Inter', sans-serif !important;
}

/* Custom Scrollbar for WebKit Browsers */
::-webkit-scrollbar {
  width: 4px !important;
}
::-webkit-scrollbar-button {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}
::-webkit-scrollbar-thumb {
  background-color: #888 !important;
  border-radius: 20px !important;
}
::-webkit-scrollbar-track {
  background-color: transparent !important;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#loader div:nth-child(1) {
  animation-delay: -0.32s;
}

#loader div:nth-child(2) {
  animation-delay: -0.16s;
}

/* TEXT LAYER FOR PDF */
[id^='textLayer'] br {
  user-select: none;
}
[id^='textLayer'] span {
  height: 100%;
  width: 100%;
}
[id^='textLayer'] span::selection {
  background-color: rgba(255, 0, 0, 0.5);
}

@layer base {
  button,
  input {
    @apply outline-none focus:outline-none border-none text-black;
  }
}

.hide-scrollbar {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

.tool-size-slider {
  height: 4px !important;
}
.tool-size-slider .vue-slider-rail {
  background-color: #e5e7eb !important;
  border-radius: 40px !important;
  height: 4px !important;
}
.dark .tool-size-slider .vue-slider-rail {
  background-color: #3a3a3a !important;
}
.tool-size-slider .vue-slider-process {
  background-color: #0077cc !important;
  border-radius: 40px !important;
}
.tool-size-slider .vue-slider-dot-handle {
  background-color: #0a3a66 !important;
  box-shadow: none !important;
  border: none !important;
}

@layer components {
  .icon {
    @apply size-5 cursor-pointer transition-colors duration-150;
  }
  .icon-sm {
    @apply size-4 cursor-pointer transition-colors duration-150;
  }
  .icon-dark {
    @apply size-5 text-gray-600 dark:text-gray-300 cursor-pointer transition-colors duration-150;
  }
  .disabled-icon {
    @apply size-5 text-white/25 cursor-not-allowed;
  }
  .input {
    @apply w-full p-2 rounded-md bg-white text-black;
  }
  .checkbox {
    @apply appearance-none w-3 h-3 bg-white rounded-full hover:ring hover:ring-secondary focus:outline-none cursor-pointer checked:bg-secondary;
  }
  .sidebar-label {
    @apply text-[12px] leading-none font-medium text-[#333] dark:text-gray-200 tracking-[0.1px];
  }
  .sidebar-value {
    @apply text-[11px] leading-none font-light text-[#333] dark:text-gray-400 break-words;
  }
}
