@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
}

/* Page IDs */
#evilFlowersContent {
  display: flex;
  flex: 1;
  height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 15px;
  overflow: auto;
}

#evilFlowersPageContent {
  position: relative;
  margin: auto auto;
  width: fit-content;
}

/* Making text layer elements transparent and position absolute for proper positioning */
#textLayer {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1;
  color: transparent;
}

#textLayer span {
  position: absolute;
  white-space: pre;
  cursor: text;
  transform-origin: 0% 0%;
}

#textLayer span::selection {
  color: transparent;
  background: #8f8fe352;
}

.viewer-loader-small {
  border: 2px solid gray;
  border-top: 2px solid #00b7ff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
